#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.square-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-auto-rows: 120px;
  
  grid-gap: 8px
}

.square {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


